@import 'tailwindcss';

@layer utilities {
  body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: larger;
  }
}
@layer base {
    h1,h2,h3 {
        @apply mb-2;
    }
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    /* ... */
}

.button {
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	/* padding:16px 31px; */
	text-decoration:none;
	border:none;
	/* text-shadow:0px 1px 0px #2f6627; */
}

.button:hover {
	background-color:transparent;
}

.button:active {
	position:relative;
	top:1px;
}